In [3]:
import pandas as pd
import os

In [6]:
files = [file for file in os.listdir()]
for file in files:
    print(file)

.ipynb_checkpoints
Sales Analysis.ipynb
Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [8]:
data = pd.DataFrame()

In [12]:
files[2]

'Sales_April_2019.csv'

In [13]:
for file in files:
    for i in range(2,14):
        df = pd.read_csv(files[i])
        data = pd.concat([data,df])

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2615900 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   Order ID          object
 1   Product           object
 2   Quantity Ordered  object
 3   Price Each        object
 4   Order Date        object
 5   Purchase Address  object
dtypes: object(6)
memory usage: 139.7+ MB

In [24]:
data['Order Date'] = data['Order Date'].astype(str)

In [32]:
data.duplicated().value_counts()

True     2430212
False     185688
dtype: int64

In [27]:
data['Month'] = data['Order Date'].apply(lambda x:x[0:2])

In [28]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,nan,NaN,na
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04

In [33]:
data.isnull().sum()

Order ID            7630
Product             7630
Quantity Ordered    7630
Price Each          7630
Order Date             0
Purchase Address    7630
Month                  0
dtype: int64

In [54]:
(data.loc[0])

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101",08
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
0,150502,iPhone,1,700,02/18/19 01:35,"866 Spruce St, Portland, ME 04101",02
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
...,...,...,...,...,...,...,...
0,162009,iPhone,1,700,03/28/19 20:59,"942 Church St, Austin, TX 73301",03
0,194095,Wired Headphones,1,11.99,05/16/19 17:14,"669 2nd St, New York City, NY 10001",05
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001",11
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001",10
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001",09

In [52]:
type(data.loc[0,'Purchase Address'])

pandas.core.series.Series

In [57]:
data.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            11676, 11677, 11678, 11679, 11680, 11681, 11682, 11683, 11684,
            11685],
           dtype='int64', length=2615900)

In [45]:
def get_city(address):
    return address.split(',')[1]

In [46]:
data['Purchase Address'] = data['Purchase Address'].astype(str)

In [58]:
data['City'] = data['Purchase Address'].apply(lambda x: get_city(x))

IndexError: list index out of range

In [ ]:
data.dropna()

In [72]:
data['Order Date']= data['Order Date'].astype(str)

In [93]:
def get_time(date):
    return date.split(' ')[0]

In [94]:
data['time'] = data['Order Date'].apply(get_time)

In [80]:
x = 'kunal is a boy'

In [81]:
type(x)

str

In [85]:
y=x.split(' ')

In [88]:
y[1]

'is'

In [95]:
data['time']

0        04/19/19
1             nan
2        04/07/19
3        04/12/19
4        04/12/19
           ...
11681    09/17/19
11682    09/01/19
11683    09/23/19
11684    09/19/19
11685    09/30/19
Name: time, Length: 2615900, dtype: object